@import '../../../../shared/styles/mixing';
.main-layout {
    min-height: 100%;
    &.dark-theme {
        color: $white;
    }
    .main {
        margin-top: 20px;
    }
    .container {
        max-width: $xl;
        margin: 0 auto;
    }
}