@import '../../shared/styles/mixing';
.favourite-locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    app-favourite-location {
        flex: 1;
        max-width: 167px;
        width: 41%;
        margin-bottom: 20px;
    }
    @include sm {
        align-items: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        app-favourite-location {
            margin-right: 20px;
        }
        app-favourite-location:last-child {
            margin-right: 0;
        }
    }
}