@import '../../../../shared/styles/mixing';
.location-weather-details {
    @include sm {
        padding: 20px 20px 40px 20px;
    }
    @include xl {
        border: 1px solid $black;
    }
    .location-info {
        .current-weather {
            margin-bottom: 10px;
            .phrase-icon {
                height: 45px;
                width: 75px;
            }
            .location {
                .unit-slider {
                    margin-left: 20px;
                    @include sm {
                        margin-left: 0;
                    }
                }
            }
        }
        @include sm {
            display: flex;
            justify-content: space-between;
            .current-weather {
                display: flex;
                .phrase-icon {
                    margin-right: 10px;
                }
                .location {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                }
            }
        }
    }
    .current-weather,
    .actions {
        text-align: center;
    }
    .actions {
        .favourite-icon {
            display: inline-block;
            margin-right: 10px;
        }
        .favourite-button {
            box-shadow: 2px 2px $black;
            outline: 0;
            border: 2px solid $black;
            border-radius: 4px;
        }
    }
    .now-phrase-title {
        text-align: center;
        margin: 50px 0;
        @include sm {
            margin: 100px 0;
        }
    }
    .weekly-forecast {
        display: flex;
        align-items: center;
        flex-direction: column;
        app-daily-forecast {
            flex: 1;
        }
        @include sm {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            app-daily-forecast {
                margin-right: 20px;
                max-width: 167px;
            }
            app-daily-forecast:last-child {
                margin: 0;
            }
        }
    }
}